# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.dmp
*.tor

# Executables
*.exe
*.out
*.app
/nexusclient/nexusclient/swtor/logs
/Diagnostics/Captures
/Diagnostics/GomCompatibility/ResourceCache
/Diagnostics/GomCompatibility
/Assets2012April
/Client/Hook/.vs/SWToR-Hook/FileContentIndex
Diagnostics/swtor-disasm.txt
Diagnostics/asset-compression-results.txt
